html {
    box-sizing: border-box;
    background:  url("https://i.pinimg.com/564x/b8/cb/b5/b8cbb5453d71d6a14292518b692ac2d6.jpg") no-repeat center fixed; 
    background-size: cover;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    height: 100%;
}

.container {
    width: 100%;
    top: 35%;
    position:fixed
}

#holder {
    border: 0.5rem outset  #fde7e7;
    border-radius: 2px;
    background-color: #fcd1d0;
    max-width: 250px;
    margin: 0 auto;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 80%;
}

.icon-holder{
    float: left;
    border: 0.5rem outset  #fde7e7;
    border-radius: 2px;
    background-color: #fcd1d0;
    width: 75px;
    height: 75px;
    margin: auto 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 80%;
}

.icon-father {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
    margin-top: 15px;
}

.icon-father > .icon-holder {
    position: relative;
    left: 50%;
}

    #icon1, #icon3, #icon5{ 
        display: block; 
    }

    #icon2, #icon4, #icon6{ 
        display: none; 
    }

h1{
    position: relative;
    bottom: 2px;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: #f787b2;
     
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    }

@-webkit-keyframes color-change {
    0%   { color: #f787b2; } 
    20%  { color: #548ebe; }
    40%  { color: #f787b2; }
    60%  { color: #f787b2; }
    80%  { color: #548ebe; }
    100% { color: #f787b2; }
}
    
@-moz-keyframes color-change {
    0%   { color: #f787b2; } 
    20%  { color: #548ebe; }
    40%  { color: #f787b2; }
    60%  { color: #f787b2; }
    80%  { color: #548ebe; }
    100% { color: #f787b2; }
}

.icon{
    background: red;  
    -webkit-animation: super-rainbow 10s infinite alternate linear; 
    -moz-animation: super-rainbow 10s infinite alternate linear;
    
}

@-webkit-keyframes super-rainbow {
    0%   { background: #f787b2; } 
    20%  { background: #548ebe; }
    40%  { background: #f787b2; }
    60%  { background: #548ebe; }
    80%  { background: #f787b2; }
    100% { background: #548ebe; }
}

@-moz-keyframes super-rainbow {
    0%   { background: #f787b2; } 
    20%  { background: #548ebe; }
    40%  { background: #f787b2; }
    60%  { background: #548ebe; }
    80%  { background: #f787b2; }
    100% { background: #548ebe; }
}

/* desktop css */


/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/
/*/////////////////////*/



@media screen and (min-width: 800px) {

    .container {
    margin: 0;
    }
    
    html {
    box-sizing: border-box;
    background:  url("https://d2w9rnfcy7mm78.cloudfront.net/2060633/original_aa81b15f3ac96ea7ccc7c5200ce370d4.gif") no-repeat center fixed; 
    background-size: cover;
    }
    
    #holder {
        border: .5rem outset  #FDFAF8;
        border-radius: 2px;
        background-color: #f5e8dd;
        max-width: 300px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
        font-size: 95%;
    }

    .icon-holder{
        float: left;
        border: 0.5rem outset #FDFAF8;
        border-radius: 2px;
        background-color: #f5e8dd;
        width: 95px;
        height: 95px;
        margin: auto 5px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
    }

    .icon-father {
        float: right;
        position: relative;
        left: -50%;
        text-align: left;
        margin-top: 15px;
    }

    .icon-father > .icon-holder{
        position: relative;
        left: 50%;
    }
    
    #icon1, #icon3, #icon5{ 
        display: none; 
    }
    
    #icon2, #icon4, #icon6{ 
        display: block; 
    }
    
    h1{
        text-align: center;
        font-family: 'Didact Gothic', sans-serif;
        color: #f787b2;
        -webkit-animation: color-change 10s infinite;
        -moz-animation: color-change 10s infinite;
    }

    @-webkit-keyframes color-change {
        0%   { color: #EB842C; } 
        20%  { color: #FFCE44; }
        40%  { color: #A48AA8; }
        60%  { color: #EB842C; }
        80%  { color: #FFCE44; }
        100% { color: #A48AA8; }
    }
    
    @-moz-keyframes color-change {
        0%   { color: #EB842C; } 
        20%  { color: #FFCE44; }
        40%  { color: #A48AA8; }
        60%  { color: #EB842C; }
        80%  { color: #FFCE44; }
        100% { color: #A48AA8; }
    }

    .icon{
        background: red;  
        -webkit-animation: super-rainbow 10s infinite alternate linear; 
        -moz-animation: super-rainbow 10s infinite alternate linear;
    }
    
    @-webkit-keyframes super-rainbow {
        0%   { background: #EB842C; } 
        20%  { background: #FFCE44; }
        40%  { background: #A48AA8; }
        60%  { background: #EB842C; }
        80%  { background: #FFCE44; }
        100% { background: #A48AA8; }
    }

    @-moz-keyframes super-rainbow {
        0%   { background: #EB842C; } 
        20%  { background: #FFCE44; }
        40%  { background: #A48AA8; }
        60%  { background: #EB842C; }
        80%  { background: #FFCE44; }
        100% { background: #A48AA8; }
    }
}