progress, sub, sup {
  vertical-align: baseline; }

@font-face {
    font-family: "Porto";
    src: url("../font/Porto.ttf"); }

html, body {
    min-width: 260px; 
    width: 100%;
    height: 100%; 
    overflow: hidden; }
@media (max-width: 50rem) {
    .holder {
        width: 85vw;
        height: 15vh; 
    }
    .holder h1 {
        font-size: 30px;
        font-size: 6vh;
    }
}

@media (min-width: 50rem) {
    .holder {
        width: 45vh;
        height: 15vh; 
    }
    .holder h1 {
        font-size: 30px;
        font-size: 6vh;
    }
}

.holder {
    background-color: white;
    text-align: center;
    border-width:3vh;
    border-style:double;
    border-color: rgb(255, 72, 72);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    
    z-index: 1; }


.holder h1 {
    line-height: 8.8vh;
    display: inline-block;
    vertical-align: middle;
    
    font-family: Porto;
    color: rgb(255, 72, 72); }

/*test*/
.linkedin{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;   
    font-family: Porto;
    font-size: 5vh;
    display: inline-block;
    animation: linkedin 1900s linear infinite;
}
.linkedin:link {
    text-decoration: none;
    color: black;
}
.linkedin:visited {
    color:black;
}
.linkedin:hover {
    color: rgb(255, 72, 72);
}
.github{
    margin: 5vh auto 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;   
    font-family: Porto;
    font-size: 5vh;
    display: inline-block;
    animation: github 1700s linear infinite;
    right:-100%;
}
.github:link {
    text-decoration: none;
    color: black;
}
.github:visited {
    color:black;
}
.github:hover {
    color: rgb(255, 72, 72);
}

.resume{
    margin: 10vh auto 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;   
    font-family: Porto;
    font-size: 5vh;
    display: inline-block;
    animation: resume 1100s linear infinite;
}
.resume:link {
    text-decoration: none;
    color: black;
}
.resume:visited {
    color:black;
}
.resume:hover {
    color: rgb(255, 72, 72);
}
#one{
    margin-top: 15vh;
    animation: linkedin 1100s linear infinite;
}
#two{
    margin-top: 20vh;
    animation: github 2000s linear infinite;
}
#three{
    margin-top: 25vh;
    animation: resume 1700s linear infinite;
}
#four{
    margin-top: 30vh;
    animation: linkedin 1600s linear infinite;
}
#five{
    margin-top: 35vh;
    animation: github 1900s linear infinite;
}
#six{
    margin-top: 40vh;
    animation: resume 1560s linear infinite;
}
#seven{
    margin-top: 45vh;
    animation: linkedin 1276s linear infinite;
}
#eight{
    margin-top: 50vh;
    animation: github 1100s linear infinite;
}
#nine{
    margin-top: 55vh;
    animation: resume 1259s linear infinite;
}
#ten{
    margin-top: 45vh;
    animation: linkedin 1800s linear infinite;
}
#eleven{
    margin-top: 50vh;
    animation: github 1176s linear infinite;
}
#twelve{
    margin-top: 55vh;
    animation: resume 1100s linear infinite;
}
#thirteen{
    margin-top: 60vh;
    animation: linkedin 2000s linear infinite;
}
#fourteen{
    margin-top: 65vh;
    animation: github 1850s linear infinite;
}
#fifteen{
    margin-top: 70vh;
    animation: resume 1640s linear infinite;
}
#sixteen{
    margin-top: 75vh;
    animation: linkedin 1830s linear infinite;
}
#seventeen{
    margin-top: 80vh;
    animation: github 1660s linear infinite;
}
#eighteen{
    margin-top: 85vh;
    animation: resume 1730s linear infinite;
}
#nineteen{
    margin-top: 90vh;
    animation: linkedin 1570s linear infinite;
}
#twenty{
    margin-top: 95vh;
    animation: github 1530s linear infinite;
}
#twentyone{
    margin-top: 100vh;
    animation: resume 1378s linear infinite;
}

@keyframes linkedin {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes github {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes resume {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}